{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Библиотека{% endblock %}

{% block content %}

    <div class="book_tag">
        <h1>Вакансии</h1>
        <ul>
            {% if cat_selected == 0 %}
                <li class="cat_select">Все категории</li>
            {%else%}
                <li><a href="{% url 'library' %}">Все категории</a></li>
            {%endif%}

            {% for c in cat%}
                {%if c.pk == cat_selected %}
                    <li class="cat_selected">{{c.name}}</li>
                {%else%}
                    <li><a href="{{ c.get_absolute_url}}">{{c.name}}</a></li>
                {%endif%}
            {%endfor%}

        </ul>
    </div>

<div class="book_cont">
{% if page_obj %}
    <ul>
    {%for book in page_obj %}
        <div>
            {% if book.photo %}
                <div><img src="{{book.photo.url}}"></div>
            {%endif%}
            <li>{{book.title}}</li>
            <li>{{book.about}}</li>
            <li>{{book.cat}}</li>


            <p><a href="{{book.get_absolute_url}}">смотьеть Вакансию</a></p>
        </div>
    {%endfor%}
    </ul>

    {% elif books %}
    <ul>
    {%for book in books %}
        <div>
            {% if book.photo %}
                <div><img src="{{book.photo.url}}"></div>
            {%endif%}
            <li>{{book.title}}</li>
            <li>{{book.author}}</li>
            <li>{{book.preview}}</li>
            <li>{{book.cat}}</li>


            <p><a href="{{book.get_absolute_url}}">смотьеть книгу</a></p>
        </div>
    {%endfor%}
    </ul>


{%else%}
    <p>Здесь пока ничего нет</p>


{%endif%}
</div>

<footer>
    <nav class="paginator">
        <ul class="paginator">
            {%for p in page_obj.paginator.page_range%}
            <li>
                <a href="?page={{p}}">{{p}}</a>
            </li>
            {%endfor%}
        </ul>
    </nav>>
</footer>>
{% endblock %}