{% extends 'main/layout.html' %}
{%load static%}
{% block title %}Поступающим{% endblock %}

{% block content %}
<div>
    <p>Для посутупающих сделана упрощённа форма для подачи заявления, вы можете подать документы удалённо, сделать это можно по кнопе ниже</p>
    <p>требуемые документы:</p>
    <ul>
        <li>Паспорт</li>
        <li>Атестат</li>
        <li>Мед справка</li>
        <br>
        <p>из необязательных</p>
        <li>награды за участие в активностях и олипиадах</li>
    </ul>

    <a href="#">Заполнить форму заявления</a>
</div>

{% endblock %}