{% extends 'main/layout.html' %}
{%load static%}
{% block title %}Поступающим{% endblock %}

{% block content %}
<div class="postup">
    <p class="postup_opis">Для поступающих сделана упрощённа форма для подачи заявления,<br>вы можете подать документы удалённо, сделать это можно по кнопе ниже</p>
    <p>Требуемые документы:</p>
    <ul>
        <li>1. Паспорт</li>
        <li>2. Атестат</li>
        <li>3. Медицинская справка</li>
        <span> Из необязательных:</span>
        <li> 4.Награды за участие в активностях и олипиадах</li>
    </ul>
    <br>
    <a class="confirm_forma" href="#">Заполнить форму заявления</a>
</div>

{% endblock %}