{% extends 'main/layout.html' %}
{%load static%}
{% block title %}Главная страница{% endblock %}

{% block content %}
<h1 class="news_tag">Новости нашего учебного заведения</h1>

    {% for new in page_obj%}
        <div class="news_list">

            {%if new.news_photo%}
                <div class="news_img"><img src="{{new.news_photo.url}}"></div>
            {%endif%}
        <div>
            <h1 class="title_news">{{new.title}}</h1>
            <b class="time_published"><label>{{new.time_create}}</label></b>
            <p class="text_for_news">{{new.Text|truncatewords:30}}</p>
            <a class="read_the_news" href="{{ new.get_absolute_url }}">Читать новость</a>
        </div>
        </div>

        <br>

    {%endfor%}

<footer>
    <nav class="paginator">
        <ul class="paginator">
            {%for p in page_obj.paginator.page_range%}
            <li>
                <a href="?page={{p}}">{{p}}</a>
            </li>
            {%endfor%}
        </ul>
    </nav>>
</footer>>
{% endblock %}