{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body class="bodyfor">
    <div class="top_bar">
        <dev class="menu"><a class="logo" href="{% url 'home' %}"><img class="logo" src="{% static 'main/img/logo.png' %}"></img></a></dev>

        <dev class="menu">
        <ul class="top_bar_menu">
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'about' %}">О нас</a></li>
            <li><a href="{% url 'abiturients' %}">Поступающим</a></li>
            <li><a href="{% url 'vacation'%}">Вакансии</a></li>
            <li><a href="{% url 'addNews'%}">Добавить новость</a></li>

            {% if user.is_authenticated%}

            {%else%}
            <li><a href="{%url 'register'%}">Регистрация</a></li>
            <li><a href="{%url 'login'%}">Войти</a></li>
            {%endif%}
        </ul>


        </dev>
    </div>

    <div class="dss">
        {% if request.user.is_authenticated %}
            <aside>
            <ul>
                <li><a href="{%url 'profile'%}">Моя страница</a></li>
                <li><a href="#">Чат</a></li>
                <li><a href="#">лекции/тесты</a></li>
                <li><a>Оценки</a></li>
                <li><a  href="{%url 'library'%}">Библиотека</a></li>
            </ul>
            </aside>
        {%endif%}

    <div class="content_body">
{% block content%}
{%endblock%}
    </div>

    </div>

</body>
</html>